
.blog-card {
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .blog-img {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  /* sticky-footer.css */
:root {
  --footer-height: 60px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 300px;
}

html, body { height: 100%; }
body { display: flex; flex-direction: column; }
main { flex: 1 0 auto; }
footer { flex-shrink: 0; }

.bg-rosado {
    background-color: #f84181; 
  }