html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* El contenido principal debe crecer para empujar el footer */
main {
  flex: 1 0 auto;
}

/* El footer no debe crecer */
footer {
  flex-shrink: 0;
}